<mat-card class="card-container">
  <div class="club-banner" 
    [ngStyle]="{ 'background-image': 'url(' + news.banner + ')','background-position': 'center','background-size': 'cover'}"
    fxLayout="rows" fxLayoutpostion="center">
    <div class="club-logo-container" fxFlex>
      <img src="{{news.logo}}" alt="" class="club-logo">
      <h2 class="club-title">PFS clicut</h2>
    </div>
  </div>
  <div class="club-details-container">
      <mat-tab-group class="tab-group">
        <mat-tab>
            <ng-template mat-tab-label>
                ⭐ Details
            </ng-template>

            <mat-card-content class="tab-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vel dolore quia esse consequatur, incidunt cumque quaerat totam ex neque assumenda voluptate laboriosam, est corrupti id laudantium error corporis natus.
            </mat-card-content>

            <div fxLayout="columns" class="tab-content">
              <div fxFlex="30">
                Address
              </div>
              <div fxFlex>
                <mat-card-subtitle>adfrees 1</mat-card-subtitle>
                <mat-card-subtitle>adfrees 1</mat-card-subtitle>
                <mat-card-subtitle>Pin -23723 1</mat-card-subtitle>
              </div>
            </div>
            <!-- contact details -->
            <div fxLayout="columns" class="tab-content">
                <div fxFlex="30">
                  contact number
                </div>
                <div fxFlex>
                  <mat-card-subtitle>+91 9383493483</mat-card-subtitle>
                </div>
              </div>

              <!-- location map -->

              <div class="tab-content">
                  <div>
                    Location: Kunnumpuram
                  </div>
                  <div >
                      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" streetViewControl="false">
                          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                   </agm-map>
                  </div>
                </div>

        </mat-tab>

        <mat-tab label="Season">
          this season events

          <p>it will display seasons tournaments conducted , participated and results.</p>
          <div *ngFor="let event of events">

            <app-season-teaser [matches]= "event"></app-season-teaser>
          </div>
        </mat-tab>

        <mat-tab label="News">
          news components
        </mat-tab>
      </mat-tab-group>
  </div>
</mat-card>