<mat-card class="card-container">
  <div class="club-banner" 
    [ngStyle]="{ 'background-image': 'url(' + news.banner + ')','background-position': 'center','background-size': 'cover'}"
    fxLayout="rows" fxLayoutpostion="center">
    <div class="club-logo-container" fxFlex>
      <img src="{{news.logo}}" alt="" class="club-logo">
      <h2 class="club-title">PFS clicut</h2>
    </div>
  </div>
  <div class="club-details-container">
      <mat-tab-group class="tab-group">
        <mat-tab>
            <ng-template mat-tab-label>
                ⭐ Details
            </ng-template>
            <p>Contact details</p>
            <p>Address</p>
            <p>Location</p>

            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" streetViewControl="false">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
            In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
            feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
            orci enim rutrum enim, vel tempor sapien arcu a tellus.
        </mat-tab>

        <mat-tab label="Season">
          this season events
        </mat-tab>

        <mat-tab label="News">
          news components
        </mat-tab>
      </mat-tab-group>
  </div>
</mat-card>