

<mat-card class="teaser-container">
    <div *ngIf="news as newslist; else loading">
        <mat-card-header>
          <mat-card-title class="teaser-title">
              {{teaserTitle}}
              
          </mat-card-title>
        </mat-card-header>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="start none" fxFill [@listAnimation]="newslist.length">
          <div *ngFor="let newsItem of newslist" class="news-summary-card-container" fxFlex="33%" fxFlex.lg="25">
            <app-news-summary-view [news]="newsItem"></app-news-summary-view>
        </div>

        </div>
    </div>
    
    
    <ng-template #loading>Loading the news</ng-template>

</mat-card>