<mat-card class="event-form-container">
  <mat-spinner color="accent" diameter="30" *ngIf="isSubmitting"></mat-spinner>
  <form [formGroup]="eventAddForm" (ngSubmit)="addEvent()">
    <mat-horizontal-stepper linear="true">
      <mat-step label="Basic Info">
        <mat-form-field>
          <input matInput placeholder="Tournament Name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Match Start Date" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Game Type" formControlName="type">
            <mat-option *ngFor="let game of games" [value]="game">{{game}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Last Application date" formControlName="lastApplicationDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <div>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>

      <mat-step label="Prize Details">
        <div formGroupName="prizeDetails">
          <mat-form-field>
            <input matInput placeholder="First Prize" formControlName="firstPrize">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Second Prize" formControlName="secondPrize">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Third Prize" formControlName="thirdPrize">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious type="button">Back</button>
            <button mat-button matStepperNext type="submit" [disabled]="!eventAddForm.valid">Submit</button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</mat-card>