<p>
  news-edit works!
</p>


<form [formGroup]="newsEditForm" (ngSubmit)= "submitNews()" 
class="form-container">

  <mat-form-field>
      <input matInput placeholder="News Title" formControlName="title">
  </mat-form-field>
  
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="published_date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
  <mat-form-field>
    <textarea matInput name="" id="" rows="3" formControlName="summary"
      placeholder="Add news summary"
      matTextareaAutosize></textarea>
  </mat-form-field>

  

  <!-- <mat-form-field>
    <mat-select placeholder="Clubs" formControlName="tagged_clubs" multiple>
      <mat-option *ngFor="let club of clubList" [value]="club.id">{{club.name}}</mat-option>
    </mat-select>
  </mat-form-field>
   -->


  <mat-form-field>
    <textarea matInput [froalaEditor] formControlName="content"></textarea>
  </mat-form-field>
  
<!-- 

  <button mat-raised-button type="submit" [disabled]="!articleAddFrom.valid" color="primary">Submit</button> -->
</form>
