<mat-vertical-stepper>
  <mat-step label="Personal information">
    <div>
      <mat-form-field>
        <input matInput placeholder="First Name" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Second Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phone Number">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Blood Group">
          <mat-option *ngFor="let blood of bloodGroups" [value]="blood">
            {{ blood }}
          </mat-option>
        </mat-select>
      </mat-form-field>

        <input type="file" placeholder="Phone Number" #imageFile (change)="onFileSelected($event)" style="display:none">
        <div style="height: 100px; width: 100px; background-color:aqua" (click)="imageFile.click()">
          <h6>Add an Image</h6>
        </div>


    </div>

  </mat-step>
  <mat-step label="favourite games">
      <div style="height: 100px; width: 100px; background-color:aqua" (click)="imageFile.click()">
          <h6>Add an Image</h6>
          <!-- <mat-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="checked"
          [disabled]="disabled">
        Slide me!
      </mat-slide-toggle> -->

      <mat-slide-toggle
      class="example-margin"
      >
    Slide me!
  </mat-slide-toggle>
        </div>

        <div >
          <mat-slide-toggle
            class="example-margin">            >
            Football
          </mat-slide-toggle>
        </div>

    Content 2
  </mat-step>
  <mat-step label="Favorite clubs to follow">
    Content 2
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Assignee" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
  </mat-step>
</mat-vertical-stepper>