<mat-tab-group>
    <mat-tab label="News" style="width: 50%;">

      <app-news-teaser *ngIf="!isFavNewsLoading" [news]="favNews" teaserTitle="Liverpool News"></app-news-teaser>
      <app-news-teaser *ngIf="!isNewsLoading" [news]="news" teaserTitle="Top News"></app-news-teaser>
    </mat-tab>
    <mat-tab label="Matches" style="width: 50%;">
      <h1>This will display all the recent events of fav club and other events</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab label="Announcements" style="width: 50%;">
        <h1>This will display all the recent announcements of fav club and other clubs</h1>
        <p>...</p>
      </mat-tab>
  </mat-tab-group>