<mat-card class="card-container">
  <button (click)="login()">Login</button>

  <div class="club-banner" [ngStyle]="{ 'background-image': 'url(' + news.banner + ')','background-position': 'center','background-size': 'cover'}"
    fxLayout="rows" fxLayoutpostion="center">
    <div class="club-logo-container" fxFlex>
      <img src="{{news.logo}}" alt="" class="club-logo">
      
      <h2 class="club-title">Alex Edakkathodi
        <span class="edit-icon"><mat-icon color="white" >edit</mat-icon></span>
      </h2>
    </div>
  </div>
  <div class="club-details-container">

    <mat-card-content>
      <div class="details-container">
        <mat-card-subtitle>contact information</mat-card-subtitle>
        <table>
            <tr>
              <td width="40%">E-Main</td>
              <td>jackelin@timeout.com</td>
            </tr>
            <tr>
              <td>Phone</td>
              <td>+92 92929393</td>
            </tr>
            <tr>
                <td valign="top">Address</td>
                <td>
                  Hollywood housr <br>
                  abu dhai <br>
                  pin = 59730934
                </td>
              </tr>
          </table>
      </div>
      <div class="details-container">
        <mat-card-subtitle>General Information</mat-card-subtitle>
        <table>
          <tr>
            <td width="40%">DOB</td>
            <td>30/05/1988</td>
          </tr>
          <tr>
            <td>Blood Group</td>
            <td>O+</td>
          </tr>
          
        </table>
      </div>
      <div class="details-container">
        <mat-card-subtitle>other information</mat-card-subtitle>
        <table>
          <tr>
            <td width="40%">E-Main</td>
            <td>jackelin@timeout.com</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>+92 92929393</td>
          </tr>
        </table>
      </div>

    </mat-card-content>



  </div>
</mat-card>